<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref=""
            (click)="dismissModal()"
          ></ion-back-button>
        </ion-buttons>
        <ion-title
          >{{ pokeInfo.name | hyphenToSpace | titlecase }} Details</ion-title
        >
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- Favorite button -->
      <ion-fab
        class="ion-fab"
        (click)="favoriteButtonOnClickHandler($event)"
        slot="fixed"
        vertical="bottom"
        horizontal="end"
      >
        <ion-fab-button
          size="large"
          [color]="isPokeFavorited ? 'warning' : 'light'"
        >
          <ion-icon
            size="large"
            [name]="isPokeFavorited ? 'star' : 'star-outline'"
          ></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <!-- Male and female sprites -->
      <ion-grid class="ion-grid-sprites-wrapper">
        <!-- Male sprites -->
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" size="auto">
            <!-- Text and images -->
            <ion-grid class="ion-grid-sprites">
              <ion-row>
                <ion-col>Male sprites:</ion-col>
              </ion-row>
              <ion-row class="ion-grid-row">
                @if (pokeInfo.sprites.front_default &&
                pokeInfo.sprites.back_default) {
                <ion-img
                  class="sprite-img"
                  [src]="pokeInfo.sprites.front_default"
                />
                <ion-img
                  class="sprite-img"
                  [src]="pokeInfo.sprites.back_default"
                />
                } @else {
                <ion-col>
                  <ion-text class="no-sprite-text"
                    >No male sprites available</ion-text
                  >
                </ion-col>
                }
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>

        <!-- Female sprites (if available) -->
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" size="auto">
            <!-- Text and images -->
            <ion-grid class="ion-grid-sprites">
              <ion-row>
                <ion-col>Female sprites:</ion-col>
              </ion-row>
              <ion-row class="ion-grid-row ion-align-items-center">
                @if (pokeInfo.sprites.front_female &&
                pokeInfo.sprites.back_female) {
                <ion-img
                  class="sprite-img"
                  [src]="pokeInfo.sprites.front_female"
                />
                <ion-img
                  class="sprite-img"
                  [src]="pokeInfo.sprites.back_female"
                />
                } @else {
                <ion-col>
                  <ion-text class="no-sprite-text"
                    >No female sprites available</ion-text
                  >
                </ion-col>
                }
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list class="ion-list" lines="full" inset="true">
        <!-- Name -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Name</h1></ion-label>
                <ion-text
                  ><p>
                    {{ pokeInfo.name | hyphenToSpace | titlecase }}
                  </p></ion-text
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Abilities -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Abilities</h1></ion-label>
                @for (ability of pokeInfo.abilities; track $index) {
                <ion-text
                  ><p>
                    {{ ability.ability.name | hyphenToSpace | titlecase }}
                  </p></ion-text
                >
                }
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Base experience -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Base Experience</h1></ion-label>
                <ion-text
                  ><p>{{ pokeInfo.base_experience }}</p></ion-text
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Height -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Height</h1></ion-label>
                <ion-text
                  ><p>{{ pokeInfo.height }}</p></ion-text
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Types -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Types</h1></ion-label>
                @for (type of pokeInfo.types; track $index) {
                <ion-text
                  ><p>
                    {{ type.type.name | hyphenToSpace | titlecase }}
                  </p></ion-text
                >
                }
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <!-- Weight -->
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label><h1>Weight</h1></ion-label>
                <ion-text
                  ><p>{{ pokeInfo.weight }}</p></ion-text
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
