<ion-header>
  <ion-toolbar>
    <ion-title> All Pokemon </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-details-modal />

  <ion-list>
    @for (pokemon of pokemonData; track $index) {
    <ion-item button (click)="listItemOnClickHandler($event, pokemon.name)">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-img
              src="{{ pokemon.sprites.front_default }}"
              style="width: 30px; height: 30px"
            />
          </ion-col>
          <ion-col>
            <ion-label>{{ pokemon.name }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    }
  </ion-list>
</ion-content>
