<ion-header>
  <ion-toolbar>
    <ion-title> All Pokemon </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-details-modal />

  <div style="height: 100%; display: flex; flex-direction: column">
    <!-- List with all pokemon -->
    <app-pokelist
      style="overflow-y: scroll"
      [pokeData]="this.pokeData"
      (listItemClickEmitter)="pokeListItemOnClickHandler($event)"
    />

    <!-- Pagination controls -->
    <app-pokelist-pagination
      [pokeData]="this.pokeData"
      [processApiData]="this.processApiData"
      (pokeDataEmitter)="onPokeDataChange($event)"
    />
  </div>
</ion-content>
